/* Fonts */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/* Colors */

:root {
  --basic-black: #000000;
  --basic-green: #00CA74;
  --basic-gray: #283136;
  --basic-orange: #EFC849;
  --basic-red: #FB565A;
  --basic-white: #FFFFFF;
  --green-darken: #00AA62;
  --green-dark: #00BC6C;
  --gray-dark: #231F20;
  --gray-lighten: #B4B9BB;
  --red-darken: #D7373B;
  --gray-light: #D7DCDE;
  --red-dark: #E74246;
  --orange-darken: #E5A722;
  --orange-dark: #EAB534;
  --gray-74: #444444;
  --gray-60: #666666;
  --gray-35: #A6A6A6;
  --gray-16: #D5D5D5;
  --gray-14: #DBDBDB;
  --gray-12: #DFDFDF;
  --gray-11: #E1E1E1;
  --gray-06: #EEEEEE;
  --gray-05: #F2F2F2;
  --black-rgb: 0, 0, 0;
  --gray-rgb: 0, 1, 1;
  --white-rgb: 255, 255, 255;
}

/* Globals */

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

/* Visually Hidden */

.visually--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons - Font, Text */

.buttons a {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

/* Buttons - Color */

.buttons:not(.offers--block .buttons) {
  background-color: var(--basic-red);
}

.buttons:not(.offers--block .buttons):hover,
.buttons:not(.offers--block .buttons):focus {
  background-color: var(--red-dark);
}

.buttons:not(.offers--block .buttons):active {
  background-color: var(--red-darken);
  box-shadow: inset 0 3px 0 rgba(var(--gray-rgb), 0.1);
}

.buttons a {
  color: var(--basic-white);
}

.buttons a:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* Buttons - Block */

.buttons {
  border: 0;
  border-radius: 3px;
}

.buttons > a {
  padding-top: 17px;
  padding-bottom: 15px;
}

/* Header */

.page--header {
  background-color: var(--gray-06);
}

/* Header. Nav - Font, Text */

.menu--item a,
.user--item a {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Header. Nav - Color */

.nav > a:focus:not(a.active),
.nav > a:active:not(a.active) {
  opacity: 0.3;
}

.menu--item a:not(a.active),
.user--item a:not(a.active) {
  color: var(--basic-black);
  opacity: 1;
}

.menu--item a:hover:not(a.active),
.menu--item a:focus:not(a.active),
.user--item a:hover:not(a.active),
.user--item a:focus:not(a.active) {
  color: var(--basic-red);
  opacity: 1;
}

.menu--item a:active:not(a.active),
.user--item a:active:not(a.active) {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.menu--item a.active,
.user--item a.active {
  border-bottom: 2px solid var(--basic-red);
  color: var(--basic-black);
  opacity: 1;
}

/* Header. Nav - Grid */

.nav__grid {
  display: grid;
  grid-template-columns: 160px auto 160px;
  padding-top: 48px;
}

.nav__grid > a {
  width: 160px;
  height: 66px;
  margin: 0;
  padding: 0;
}

.nav__grid .nav--menu,
.nav__grid .nav--user {
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.nav__grid .nav--menu {
  text-align: center;
}

.nav__grid .nav--user {
  text-align: right;
}

.nav__grid .menu--item,
.nav__grid .user--item {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 27px;
}

.nav__grid .menu--item:not(:last-child) {
  margin-right: 45px;
}

.nav__grid .menu--item a,
.nav__grid .user--item a {
  padding-bottom: 19px;
}

.nav__grid .user--item a {
  padding-left: 40px;
}

/* Main. Title - Font, Text */

.page--main h1 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

/* Main. Title - Color */

.page--main h1 {
  background-color: var(--gray-06);
}

/* Main. Title - Grid */

.page--main__grid h1 {
  display: grid;
  margin: 0;
  padding: 0;
  padding-top: 78px;
  padding-bottom: 85px;
}

/* Main. columns - Grid */

.columns__grid {
  display: grid;
  grid-template-columns: auto auto;
}

/* Main. Features - Font, Text */

.features--block h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/* Main. Features - Color */

.features {
  background-color: var(--gray-06);
}

.features--block p {
  color: var(--basic-gray);
}

/* Main. Features - Grid */

.features__grid {
  display: grid;
  width: 100%;
  height: 431px;
}

.features--block__grid {
  position: relative;
}

.features--block__grid h3 {
  margin-top: 78px;
}

.features--block__grid:nth-of-type(3n+1) h3 {
  margin-bottom: 25px;
}

.features--block__grid:nth-of-type(3n+1) p {
  margin-bottom: 38px;
}

.features--block__grid:nth-of-type(3n+2) h3,
.features--block__grid:nth-of-type(3n) h3 {
  margin-bottom: 37px;
}

.features--block__grid:nth-of-type(3n+2) p,
.features--block__grid:nth-of-type(3n) p {
  margin-bottom: 26px;
}

.features--block__grid img {
  position: absolute;
  top: 0;
  right: 3px;
}

.features--block__grid .buttons {
  display: grid;
  width: 240px;
  height: 50px;
}

/* Main. Offers - Font, Text */

.offers--block h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Main. Offers - Color */

.offers {
  border-bottom: 2px solid var(--gray-06);
}

.offers--block p {
  color: var(--basic-gray);
}

.offers--block:nth-of-type(3n+1) .buttons {
  background-color: var(--basic-red);
}

.offers--block:nth-of-type(3n+2) .buttons {
  background-color: var(--basic-green);
}

.offers--block:nth-of-type(3n) .buttons {
  background-color: var(--basic-orange);
}

.offers--block:nth-of-type(3n+1) .buttons:hover,
.offers--block:nth-of-type(3n+1) .buttons:focus {
  background-color: var(--red-dark);
}

.offers--block:nth-of-type(3n+2) .buttons:hover,
.offers--block:nth-of-type(3n+2) .buttons:focus {
  background-color: var(--green-dark);
}

.offers--block:nth-of-type(3n) .buttons:hover,
.offers--block:nth-of-type(3n) .buttons:focus {
  background-color: var(--orange-dark);
}

.offers--block:nth-of-type(3n+1) .buttons:active {
  background-color: var(--red-darken);
  box-shadow: inset 0 3px 0 rgba(var(--gray-rgb), 0.1);
}

.offers--block:nth-of-type(3n+2) .buttons:active {
  background-color: var(--green-darken);
  box-shadow: inset 0 3px 0 rgba(var(--gray-rgb), 0.1);
}

.offers--block:nth-of-type(3n) .buttons:active {
  background-color: var(--orange-darken);
  box-shadow: inset 0 3px 0 rgba(var(--gray-rgb), 0.1);
}

/* Main. Offers - Grid */

.offers__grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 100px;
  width: 1100px;
  margin-top: 80px;
  padding-right: 60px;
}

.offers--block__grid {
  display: grid;
}

.offers--block__grid img {
  order: -1;
}

.offers--block__grid h3 {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 16px;
}

.offers--block__grid p {
  margin: 0;
  margin-bottom: 32px;
}

.offers--block__grid .buttons {
  display: grid;
  width: 160px;
  height: 50px;
  margin-bottom: 80px;
}

/* Main. Ours - Font, Text */

.ours h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.ours h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.success--column dt {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.success--column dd {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.success--column dd > sup {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

/* Main. Ours - Color */

.ours {
  border-bottom: 2px solid var(--gray-06);
}

.ours h3:first-of-type,
.ours p,
.ours--item,
.success--column dt {
  color: var(--basic-gray);
}

/* Main. Ours - Grid */

.ours__grid {
  display: grid;
  grid-template-columns: 800px auto;
  padding-bottom: 73px;
}

.ours__grid h2 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0;
  margin-top: 73px;
  margin-bottom: 32px;
}

.ours__grid p {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
  margin-bottom: 40px;
}

.ours__grid h3:first-of-type {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin: 0;
}

.ours--list__grid {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ours--item__grid {
  margin: 0;
  margin-top: 24px;
  margin-left: 35px;
}

.ours__grid img {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  margin: 0;
  margin-top: 39px;
  margin-bottom: 37px;
}

.ours__grid h3:nth-of-type(2) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: 0;
  text-align: center;
}

.success--table__grid {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin: 0;
  padding: 0;
  padding-top: 31px;
  display: grid;
  grid-template-columns: 119px 119px auto;
}

.success--column__grid {
  display: grid;
}

.success--column__grid dt {
  order: 1;
}

.success--column__grid dd {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
}

.success--column__grid dd > sup {
  position: absolute;
  top: 3px;
}

/* Main. Partners - Color */

.partners {
  border-bottom: 2px solid var(--gray-06);
}

.partners--item > a {
  opacity: 0.2;
}

.partners--item > a:hover,
.partners--item > a:focus {
  opacity: 1;
}

.partners--item > a:active {
  opacity: 0.1;
}

/* Main. Partners - Grid */

.partners__grid {
  display: grid;
  margin-bottom: 80px;
}

.partners--list__grid {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content ;
  margin: 0;
  margin-left: 32px;
  margin-right: 43px;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 44px;
  list-style: none;
}

.partners--item__grid {
  margin: auto;
  padding: 0;
}

.partners--item__grid:nth-of-type(1) {
  margin-right: 95px;
  margin-bottom: 5px;
}

.partners--item__grid:nth-of-type(2) {
  margin-right: 104px;
}

.partners--item__grid:nth-of-type(4) {
  margin-left: 120px;
  margin-bottom: 1px;
}

.partners--item__grid > a {
  display: grid;
}

/* Main. Filters - Grid */

.filters__grid {
  width: 400px;
}

/* Main. Sort - Font, Text */

.sort h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort--item a {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.card--block h4 > a {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.card--block p {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.pagination--item a {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

/* Main. Sort - Color */

.sort--item a:not(a.active, a.link--triangle) {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sort--item a:hover:not(a.active, a.link--triangle),
.sort--item a:focus:not(a.active, a.link--triangle) {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.sort--item a:active:not(a.active, a.link--triangle) {
  color: var(--basic-black);
  opacity: 1;
}

.sort--item a.active:not(a.link--triangle) {
  color: var(--basic-black);
  opacity: 1;
}

.sort--item a.link--triangle:not(a.active) {
  color: var(--gray-35);
  mix-blend-mode: normal;
  opacity: 0.2;
}

.sort--item a:hover.link--triangle:not(a.active),
.sort--item a:focus.link--triangle:not(a.active) {
  color: var(--gray-35);
  opacity: 1;
}

.sort--item a:active.link--triangle:not(a.active) {
  color: var(--gray-dark);
  opacity: 1;
}

.sort--item a.active.link--triangle {
  color: var(--gray-dark);
  opacity: 1;
}

.sort--card {
  background: var(--gray-05);
  border: 1px solid rgba(var(--black-rgb), 0.1);
}

.card--block {
  background-color: var(--gray-06);
}

.card--block p {
  color: var(--gray-60);
}

.card--block h4 > a {
  color: var(--basic-black);
  opacity: 1;
}

.card--block h4 > a:hover,
.card--block h4 > a:focus {
  color: var(--basic-red);
  opacity: 1;
}

.card--block h4 > a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.pagination--item:not(.active) {
  background-color: var(--gray-06);
}

.pagination--item:hover:not(.active),
.pagination--item:focus:not(.active) {
  background-color: var(--gray-12);
}

.pagination--item:active:not(.active) {
  background: var(--gray-16);
  box-shadow: inset 0 3px 0 0 rgba(var(--gray-rgb), 0.1);
}

.pagination--item.active {
  background: rgba(var(--black-rgb), 0.0001);
  box-shadow: inset 0 0 0 3px var(--gray-14);
}

.pagination--item a:not(.pagination--item.active a) {
  color: var(--basic-black);
  opacity: 1;
}

.pagination--item a:active:not(.pagination--item.active a) {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.pagination--item.active a {
  color: var(--basic-black);
  opacity: 1;
}

/* Main. Sort - Grid */

.sort__grid {
  display: grid;
  grid-template-columns: auto 360px;
  grid-column-gap: 40px;
  width: 760px;
  margin: 0;
  padding: 0;
  padding-top: 78px;
  padding-bottom: 60px;
}

.sort__grid h2 {
  margin: 0;
  padding: 0;
}

.sort--menu__grid {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort--item__grid {
  display: inline-block;
  margin: 0;
  margin-top: 6px;
  margin-right: 22px;
}

.sort--item__grid:nth-last-of-type(1),
.sort--item__grid:nth-last-of-type(2) {
  position: absolute;
  margin-top: 6px;
  margin-right: 0;
}

.sort--item__grid:nth-last-of-type(1) {
  right: 0;
}

.sort--item__grid:nth-last-of-type(2) {
  right: 29px;
}

.sort--item__grid > a {
  display: grid;
}

.sort--list__grid {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  margin: 0;
  padding: 0;
  padding-top: 48px;
  list-style: none;
}

.sort--card__grid {
  position: relative;
  width: 360px;
  height: 580px;
  margin: 0;
  margin-top: 40px;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sort--card__grid > a {
  display: flex;
}

.sort--card__grid img {
  width: 358px;
  height: 578px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sort--card__grid:hover .card--block__grid {
  z-index: 0;
}

.card--block__grid {
  position: absolute;
  bottom: 0;
  width: 358px;
  text-align: center;
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: -1;
}

.card--block__grid h4 {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 12px;
}

.card--block__grid p {
  margin: 0;
  margin-bottom: 32px;
}

.card--block__grid .buttons {
  display: grid;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 44px;
}

.pagination--list__grid {
  grid-column: 1 / 3;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 55px;
  font-size: 0;
  list-style: none;
}

.pagination--item__grid {
  display: inline-block;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
}

.pagination--item__grid:not(:last-child) {
  width: 50px;
  margin-right: 11px;
}

.pagination--item__grid:last-child {
  width: 260px;
}

.pagination--item__grid a {
  display: grid;
  padding-top: 17px;
  padding-bottom: 15px;
}

/* Main. Map - Color */

.map {
  background-color: var(--gray-06);
}

/* Footer. Contacts - Font, Text */

.contacts h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p,
.contacts p > a {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.contacts p > a {
  line-height: 54px;
}

/* Main. Contacts - Color */

.contacts p,
.contacts p > a {
  color: var(--gray-60);
}

/* Footer. Socials - Font, Text */

.socials h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.socials p {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

/* Footer. Socials - Color */

.socials p {
  color: var(--gray-74);
}

.socials--item {
  background: linear-gradient(0deg, var(--gray-11), var(--gray-11)), var(--basic-white);
}

.socials--item:hover,
.socials--item:focus {
  background: linear-gradient(0deg, var(--red-dark), var(--red-dark)), var(--basic-white);
}

.socials--item:active {
  background: linear-gradient(0deg, var(--red-darken), var(--red-darken)), var(--basic-white);
  box-shadow: inset 0 3px 0 rgba(var(--gray-rgb), 0.1);
}

.socials--item a:active {
  opacity: 0.2;
}
