/* Fonts */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/* Colors */

:root {
  --basic-black: #000000;
  --basic-green: #00CA74;
  --basic-gray: #283136;
  --basic-orange: #EFC849;
  --basic-red: #FB565A;
  --basic-white: #FFFFFF;
  --green-darken: #00AA62;
  --green-dark: #00BC6C;
  --gray-dark: #231F20;
  --gray-lighten: #B4B9BB;
  --red-darken: #D7373B;
  --gray-light: #D7DCDE;
  --red-dark: #E74246;
  --orange-darken: #E5A722;
  --orange-dark: #EAB534;
  --gray-74: #444444;
  --gray-60: #666666;
  --gray-16: #D5D5D5;
  --gray-14: #DBDBDB;
  --gray-12: #DFDFDF;
  --gray-11: #E1E1E1;
  --gray-06: #EEEEEE;
  --black-rgb: 0, 0, 0;
  --gray-rgb: 0, 1, 1;
  --white-rgb: 255, 255, 255;
}

/* Globals */

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  outline: none;
}

/* Visually Hidden */

.visually--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons - Font, Text */

.buttons a {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

/* Buttons - Color */

.buttons:not(.offers--block .buttons) {
  background-color: var(--basic-red);
}

.buttons:not(.offers--block .buttons):hover,
.buttons:not(.offers--block .buttons):focus {
  background-color: var(--red-dark);
}

.buttons:not(.offers--block .buttons):active {
  background-color: var(--red-darken);
  box-shadow: inset 0 3px 0 rgba(var(--gray-rgb), 0.1);
}

.buttons a {
  color: var(--basic-white);
}

.buttons a:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* Header */

.page--header {
  background-color: var(--gray-06);
}

/* Header. Nav - Font, Text */

.menu--item a,
.user--item a {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Header. Nav - Color */

.menu--item a:not(a.active),
.user--item a:not(a.active) {
  color: var(--basic-black);
  opacity: 1;
}

.menu--item a:hover:not(a.active),
.menu--item a:focus:not(a.active),
.user--item a:hover:not(a.active),
.user--item a:focus:not(a.active) {
  color: var(--basic-red);
  opacity: 1;
}

.menu--item a:active:not(a.active),
.user--item a:active:not(a.active) {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.menu--item a.active,
.user--item a.active {
  color: var(--basic-black);
  opacity: 1;
}

/* Main. Title - Font, Text */

.page--main h1 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

/* Main. Title - Color */

.page--main h1 {
  background-color: var(--gray-06);
}

/* Main. Features - Font, Text */

.features--block h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/* Main. Features - Color */

.features {
  background-color: var(--gray-06);
}

.features--block p {
  color: var(--basic-gray);
}

/* Main. Offers - Font, Text */

.offers--block h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Main. Offers - Color */

.offers--block p {
  color: var(--basic-gray);
}

.offers--block:nth-of-type(3n+1) .buttons {
  background-color: var(--basic-red);
}

.offers--block:nth-of-type(3n+2) .buttons {
  background-color: var(--basic-green);
}

.offers--block:nth-of-type(3n) .buttons {
  background-color: var(--basic-orange);
}

.offers--block:nth-of-type(3n+1) .buttons:hover,
.offers--block:nth-of-type(3n+1) .buttons:focus {
  background-color: var(--red-dark);
}

.offers--block:nth-of-type(3n+2) .buttons:hover,
.offers--block:nth-of-type(3n+2) .buttons:focus {
  background-color: var(--green-dark);
}

.offers--block:nth-of-type(3n) .buttons:hover,
.offers--block:nth-of-type(3n) .buttons:focus {
  background-color: var(--orange-dark);
}

.offers--block:nth-of-type(3n+1) .buttons:active {
  background-color: var(--red-darken);
  box-shadow: inset 0 3px 0 rgba(var(--gray-rgb), 0.1);
}

.offers--block:nth-of-type(3n+2) .buttons:active {
  background-color: var(--green-darken);
  box-shadow: inset 0 3px 0 rgba(var(--gray-rgb), 0.1);
}

.offers--block:nth-of-type(3n) .buttons:active {
  background-color: var(--orange-darken);
  box-shadow: inset 0 3px 0 rgba(var(--gray-rgb), 0.1);
}

/* Main. Ours - Font, Text */

.ours h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.ours h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.success--column dt {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.success--column dd {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.success--column dd > sup {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

/* Main. Ours - Color */

.ours h3:first-of-type,
.ours p,
.ours--item,
.success--column dt {
  color: var(--basic-gray);
}

/* Main. Sort - Font, Text */

.sort h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort--item a {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.card--block h4 > a {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.card--block p {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.pagination--item a {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

/* Main. Sort - Color */

.sort--item a:not(a.active, a.link--triangle) {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sort--item a:hover:not(a.active, a.link--triangle),
.sort--item a:focus:not(a.active, a.link--triangle) {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.sort--item a:active:not(a.active, a.link--triangle) {
  color: var(--basic-black);
  opacity: 1;
}

.sort--item a.active:not(a.link--triangle) {
  color: var(--basic-black);
  opacity: 1;
}

.card--block {
  background-color: var(--gray-06);
}

.card--block p {
  color: var(--gray-60);
}

.card--block h4 > a {
  color: var(--basic-black);
  opacity: 1;
}

.card--block h4 > a:hover,
.card--block h4 > a:focus {
  color: var(--basic-red);
  opacity: 1;
}

.card--block h4 > a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.pagination--item:not(.active) {
  background-color: var(--gray-06);
}

.pagination--item:hover:not(.active),
.pagination--item:focus:not(.active) {
  background-color: var(--gray-12);
}

.pagination--item:active:not(.active) {
  background: var(--gray-16);
  box-shadow: inset 0 3px 0 rgba(var(--gray-rgb), 0.1);
}

.pagination--item.active {
  background: rgba(var(--black-rgb), 0.0001);
  border: 3px solid var(--gray-14);
}

.pagination--item a:not(.pagination--item.active a) {
  color: var(--basic-black);
  opacity: 1;
}

.pagination--item a:active:not(.pagination--item.active a) {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.pagination--item.active a {
  color: var(--basic-black);
  opacity: 1;
}

/* Main. Map - Color */

.map {
  background-color: var(--gray-06);
}

/* Footer. Contacts - Font, Text */

.contacts h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p,
.contacts p > a {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.contacts p > a {
  line-height: 54px;
}

/* Main. Contacts - Color */

.contacts p,
.contacts p > a {
  color: var(--gray-60);
}

/* Footer. Socials - Font, Text */

.socials h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.socials p {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

/* Footer. Socials - Color */

.socials p {
  color: var(--gray-74);
}

.socials--item {
  background: linear-gradient(0deg, var(--gray-11), var(--gray-11)), var(--basic-white);
}

.socials--item:hover,
.socials--item:focus {
  background: linear-gradient(0deg, var(--red-dark), var(--red-dark)), var(--basic-white);
}

.socials--item:active {
  background: linear-gradient(0deg, var(--red-darken), var(--red-darken)), var(--basic-white);
  box-shadow: inset 0 3px 0 rgba(var(--gray-rgb), 0.1);
}

.socials--item a:active {
  opacity: 0.2;
}
